<header>
  <div class="top-level-container">
    <nav>
      <ul>
        <li>
          <a href="/catalog" class="<% if(path === '/catalog') {%>active<%}%>">HOME</a>
        </li>
        <li>
          <a href="#" class="">CATEGORIES</a>
        </li>
        <li>
          <a href="#search-item" class="">SEARCH-ITEM</a>
        </li>
        <li>
          <a href="/catalog/about" class="<% if(path === '/catalog/about') {%>active<%}%>">ABOUT</a>
        </li>
        <li>
          <a href="/catalog/contact" class="<% if(path === '/catalog/contact') {%>active<%}%>">CONTACT</a>
        </li>
      </ul>
    </nav>
    <div class="header-title">
      <div class="logo-container">
        <img 
          class="logo"
          src="/img/logo.png" 
          alt="site logo"
        >
      </div>
      <h1 class="title">EBAY REWARDS</h1>
    </div>
  </div>
</header>