#categories{
  height: $section-height + 50;
  .top-level-container{
    padding: 3rem 0;
    height:100%;
    
    #categories-wrapper{
      margin:0 auto;
      gap: 20px;
      width:790px;
      // border:1px blue solid;
      display:grid;
      grid-template-columns: repeat(3, 250px);
      grid-template-rows: repeat(2, 250px);
      .category-block{
        width:250px;
        height: 250px;
        border:1px black solid;
      }
    }
  }
}