header {
  display: flex;
  flex-direction: column;
  nav {
    z-index: 1;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;

      li {
        list-style: none;

        a {
          border-bottom: 1px $dark-violet-color solid;
          display: block;
          margin: auto;
          color: $dark-violet-color;
          text-decoration: none;
          margin-right: 0.3rem;
          padding: 0.5rem 0.7rem;
          font-size: 1.1rem;
          &:hover,
          &.active {
            background: $dark-violet-color;
            color: $white-color;
            cursor: pointer;
            font-weight: bold;
          }
        }
      }
    }
  }
  .header-title {
    z-index: 0;
    padding: 0 2rem;
    width: 95%;
    // border:1px black solid;
    margin: 0 auto;
    margin-top: -1.5rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    .logo-container {
      width: 50px;
      // height:120px;
      // border:1px red solid;
      .logo {
        width: 100%;
      }
    }
    .title {
      margin-left: 0.2rem;
    }
  }
}
