#best-deal{
  height: $section-height;
  color: $white-color;
  background: $gray-color;
  .top-level-container{
    height:100%;
    padding:2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // border:1px white solid;
    .section-title{
      h2{
        margin-bottom:0.5rem;
      }
    }
    .item{
      display:flex;
      flex-direction: column;
      height: $section-height *60/100;
      // border: 1px $white-color solid;
      width: 250px;
      // background: $white-color;
      .image-container{
        height: 90%;
        // border:1px red solid;
        .image{
          height:100%;
          width:100%;
        }
      }
      .item-footer{
        position:relative;
        height:10%;
        font-size: 1.6rem;
        font-weight: bold;
        // border-bottom: 1px $white-color solid; 
        // background: $light-violet-color;
        // color:yellow;
        .price{
          width:100%;
          // background:red;
          position:absolute;
          bottom:0;
          left:0;
        }
      }
    }
    .spin-section-btns{
      display:flex;
      flex-direction:row;
      .btn{
        margin-right:0.5rem;
        @include transition(all, 200ms, ease-out);
          &:hover{
            background: $gray-color;
          }
      }
    }
  }
}

