<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") -%>
	</head>
	<body>
		<%- include("../partials/header") %>

    <main>
      <section id="sub-category-section">
        <div class="top-level-container">
          <h1 class="title">category title</h1>
        <div class="sub-categories">
          <!-- <div class="item">
            <div class="item-image">
              <img src="" alt="img here">
            </div>
            <div class="item-details">
              <div class="item-title"><span>title here</span></div>
              <div class="item-info">some random info here</div>
            </div>
          </div> -->
          <a href="">
            <!-- sub category here -->
          </a>
        </div>
        </div>
      </section>
    </main>
			
		<footer>
			<%- include("../partials/footer") -%>
		</footer>
	</body>
</html>