<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") -%>
	</head>
	<body>
		<%- include("../partials/header") %>

			<h1>Contact us using this form bellow</h1>
			
		<footer>
			<%- include("../partials/footer") -%>
		</footer>
	</body>
</html>