<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/head") -%>
	</head>
	<body>
			<%- include("../partials/header") %>
			<main>
				<section id="intro">
					<div class="top-level-container">
						<div class="intro-left-side">
							<div class="text">
								<h2>BECAUSE YOU'VE BEEN WORKING TOO</h2>
								<h2>HARD...</h2>
								<h1>FOR 10$ ONLY</h1>					
								<h2>OFFER YOURSELF AN AMAZING GIFT</h2>
							</div>
							<div class="marketing-pitch">
								<ul>
									<li>Fun Stuff</li>
									<li>Free Shipping</li>
									<li>Brand New</li>
									<li>Guilt Free</li>
								</ul>
							</div>
							<div class="intro-btns">
								<button class="btn">RANDOM GIFT</button>
								<button class="btn">CATEGORIES</button>
							</div>
						</div>
						<div class="intro-right-side">
							<img 
								class="image"
								src="/img/sleepy-guy.jpg" 
								alt="Photo by Christian Fregnan on unsplash.com"
							>
						</div>
					</div>
				</section>
				<section id="categories">
					<div class="top-level-container">
						<h1 class="centered">CATEGORIS</h1>
						<div id="categories-wrapper">
							<% if(categories != undefined) {%>
								<% for(let {id, name} of categories) {%>
									<div class="category-block">
										<img 
											class="image"
											src="/img/category-shoes.jpg" 
											alt="shoes category"
										/>
										<div class="category-name">
											<span class="name"><%= name %></span>
										</div>
									</div>
								<%}%>
							<%} else{%>
								<h1>ERR 404 : Couldn't fetch categories</h1>
							<%}%>
						</div>
						<div>
							<button class="btn">SHOW ALL CATEGORIES</button>
						</div>
					</div>
				</section>
				<section id="spin-item">
					<div class="top-level-container">
						<div class="section-title">
							<h2 class="centered title">GOT MORE MONEY ?</h2>
							<h2 class="centered title">HERE IS THE BEST CURRENT OFFER</h2>
						</div>
						<div class="item">
							<div class="item-body image-container">
								<img 
									class="image"
									src="" 
									alt="image title here"
								>
							</div>
							<div class="item-footer price centered">
									<span class="price"> </span>
							</div>
						</div>	
						<div class="spin-section-btns">
							<button class="btn">ORDER ON EBAY</button>
						</div>
					</div>
				</section>
			</main>
			<footer>
				<%- include("../partials/footer") -%>
			</footer>

		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>