.btn {
  background: #777990;
  color: #f9f9f7;
  padding: 0.8rem 3rem;
  font-size: 1.2rem;
  border: 2px #f9f9f7 solid;
  display: block;
  min-width: 250px;
  display: inline-block;
  text-align: center; }
  .btn:hover {
    cursor: pointer; }

.black-btn {
  background: black;
  color: white; }

.green-btn {
  background: #75cb08;
  color: #f9f9f7; }

header {
  display: flex;
  flex-direction: column; }
  header nav {
    z-index: 1; }
    header nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      header nav ul li {
        list-style: none; }
        header nav ul li a {
          display: block;
          margin: auto;
          color: #191a39;
          text-decoration: none;
          margin-right: 0.2rem;
          padding: 0.5rem 0.7rem;
          font-size: 1.1rem; }
          header nav ul li a:hover, header nav ul li a.active {
            background: #191a39;
            color: #f9f9f7;
            cursor: pointer;
            font-weight: bold; }
  header .header-title {
    z-index: 0;
    padding: 0 2rem;
    width: 95%;
    margin: 0 auto;
    margin-top: -1.5rem;
    display: flex;
    flex-direction: row;
    align-items: baseline; }
    header .header-title .logo-container {
      width: 70px; }
      header .header-title .logo-container .logo {
        width: 100%; }
    header .header-title .title {
      margin-left: 0.2rem; }

footer {
  background: #191a39;
  color: #f9f9f7; }
  footer .top-level-container {
    font-weight: bold;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem; }

#intro {
  height: 550px;
  background: #191a39;
  color: #f9f9f7; }
  #intro .top-level-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2.5rem 2rem;
    height: 100%; }
    #intro .top-level-container .intro-left-side {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      #intro .top-level-container .intro-left-side .text :nth-child(3) {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem; }
      #intro .top-level-container .intro-left-side .text :nth-child(4) {
        margin-bottom: 0.5rem; }
      #intro .top-level-container .intro-left-side .marketing-pitch ul li {
        list-style-type: none;
        border-bottom: 1px #f9f9f7 solid;
        display: inline-block;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        font-weight: bold;
        font-size: 1.2rem; }
      #intro .top-level-container .intro-left-side .intro-btns {
        display: flex;
        flex-direction: column;
        align-items: start; }
        #intro .top-level-container .intro-left-side .intro-btns .btn {
          margin-bottom: 0.5rem;
          -webkit-transition: all 200ms ease-out;
          -moz-transition: all 200ms ease-out;
          -ms-transition: all 200ms ease-out;
          -o-transition: all 200ms ease-out;
          transition: all 200ms ease-out; }
          #intro .top-level-container .intro-left-side .intro-btns .btn:hover {
            background: #191a39; }
    #intro .top-level-container .intro-right-side {
      width: 320px;
      margin-left: 1rem;
      display: flex;
      flex-direction: row-reverse; }
      #intro .top-level-container .intro-right-side .image {
        height: 100%; }

#categories {
  min-height: 350px; }
  #categories .top-level-container {
    padding: 3rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #categories .top-level-container .section-title {
      margin-bottom: 2rem; }
      #categories .top-level-container .section-title .title {
        font-size: 3rem; }
    #categories .top-level-container #categories-wrapper {
      margin: 0 auto;
      margin-bottom: 2rem;
      max-width: 1200px;
      min-width: 600px;
      display: grid;
      grid-template-columns: repeat(4, 24%);
      gap: 0.25rem; }
      #categories .top-level-container #categories-wrapper .category-block {
        position: relative;
        padding: 3.5rem 1.1rem;
        color: #191a39;
        border: 1px black solid;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out; }
        #categories .top-level-container #categories-wrapper .category-block:hover {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
          z-index: 2;
          cursor: pointer; }
        #categories .top-level-container #categories-wrapper .category-block:nth-child(1), #categories .top-level-container #categories-wrapper .category-block:nth-child(8) {
          background: #ea163f; }
        #categories .top-level-container #categories-wrapper .category-block:nth-child(2), #categories .top-level-container #categories-wrapper .category-block:nth-child(7) {
          background: #528dde; }
        #categories .top-level-container #categories-wrapper .category-block:nth-child(3), #categories .top-level-container #categories-wrapper .category-block:nth-child(6) {
          background: #f69f2a; }
        #categories .top-level-container #categories-wrapper .category-block:nth-child(4), #categories .top-level-container #categories-wrapper .category-block:nth-child(5) {
          background: #75cb08; }
        #categories .top-level-container #categories-wrapper .category-block .category-name {
          font-weight: bold;
          font-size: 1.2rem;
          min-width: 150px;
          text-align: center; }

#search-item {
  min-height: 550px;
  color: #f9f9f7;
  background: #3f3f47; }
  #search-item .top-level-container {
    height: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    #search-item .top-level-container .section-title {
      margin-bottom: 2rem; }
      #search-item .top-level-container .section-title .title {
        font-size: 3rem; }
    #search-item .top-level-container #images-wrapper {
      margin: 0 auto;
      width: 80%;
      gap: 1rem;
      display: grid;
      grid-template-columns: repeat(3, 33%); }
      #search-item .top-level-container #images-wrapper .block-wrapper {
        position: relative; }
        #search-item .top-level-container #images-wrapper .block-wrapper .image-block {
          position: relative;
          padding-top: 100%;
          overflow: hidden; }
          #search-item .top-level-container #images-wrapper .block-wrapper .image-block:hover > .image {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
            filter: blur(2px); }
          #search-item .top-level-container #images-wrapper .block-wrapper .image-block .image {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            -webkit-transition: all 800ms ease-out;
            -moz-transition: all 800ms ease-out;
            -ms-transition: all 800ms ease-out;
            -o-transition: all 800ms ease-out;
            transition: all 800ms ease-out; }
        #search-item .top-level-container #images-wrapper .block-wrapper .image-name {
          position: absolute;
          width: 100%;
          bottom: 2rem;
          left: 0;
          z-index: 2;
          background: black;
          color: white;
          opacity: 0.8;
          padding: 0.5rem 3rem;
          font-weight: bold;
          font-size: 1.2rem;
          text-align: center; }
    #search-item .top-level-container .section-btns {
      display: flex;
      flex-direction: row; }
      #search-item .top-level-container .section-btns .btn {
        margin-right: 0.5rem;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -ms-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out; }
        #search-item .top-level-container .section-btns .btn:hover {
          background: #3f3f47; }

#category-items {
  background: #777990; }
  #category-items .section-title {
    padding: 2rem 0; }
    #category-items .section-title .title {
      color: #f9f9f7;
      font-size: 3rem;
      text-align: center; }
  #category-items .items-wrapper {
    background: #f9f9f7; }
    #category-items .items-wrapper .item {
      margin: 0 auto;
      width: 90%;
      margin-bottom: 1rem;
      height: 200px;
      display: flex;
      flex-direction: row;
      border-bottom: 1px #777990 solid;
      padding: 1rem; }
      #category-items .items-wrapper .item .item-image {
        border-right: 1px #777990 dashed;
        width: 20%;
        overflow: hidden; }
        #category-items .items-wrapper .item .item-image img {
          height: 100%; }
      #category-items .items-wrapper .item .item-details {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        #category-items .items-wrapper .item .item-details .item-price {
          font-size: 1.5rem;
          font-weight: bold; }
        #category-items .items-wrapper .item .item-details .btn {
          padding: 0.4rem 1.5rem;
          min-width: 200px;
          -webkit-transition: all 200ms ease-out;
          -moz-transition: all 200ms ease-out;
          -ms-transition: all 200ms ease-out;
          -o-transition: all 200ms ease-out;
          transition: all 200ms ease-out; }
          #category-items .items-wrapper .item .item-details .btn:hover {
            background: #f9f9f7;
            border: 1px #75cb08 solid;
            color: #528dde; }
  #category-items #error-block {
    height: 550px;
    padding: 4rem 0; }
    #category-items #error-block .err-message {
      color: red;
      text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  background: #f9f9f7;
  font-family: Arial, Helvetica, sans-serif; }

.top-level-container {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px; }

.centered {
  text-align: center; }

a {
  text-decoration: none;
  display: inline-block; }
