#category-section{
  .title{
    color: black;
  }
  .item{
    height: 200px;
    display:flex;
    flex-direction:row;
    .item-image{
      // border:1px black solid;
      width: 15%;
      img{
        width:100%;
        
      }
    }

  }
}