#category-section {
  .title {
    color: black;
  }
  .item {
    margin-bottom: 1rem;
    height: 200px;
    display: flex;
    flex-direction: row;
    .item-image {
      border: 1px $light-violet-color solid;
      width: 15%;
      img {
        width: 100%;
      }
    }
  }
  #error-block {
    height: $section-height;
    padding: 4rem 0;
    .err-message {
      color: red;
      text-align: center;
    }
  }
}
