#category-items {
  background: $light-violet-color;
  .section-title {
    padding: 2rem 0;
    .title {
      color: $white-color;
      font-size: 2.5rem;
      text-align: center;
    }
  }
  #search-categories {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    & input,
    & select,
    & .btn {
      padding: 0.3rem;
      border-radius: 0;
      border: 1px $gray-color solid;
    }
    input {
      width: 40%;
    }
    select {
      width: 30%;
      max-width: 200px;
      background: $white-color;
      color: $gray-color;
      text-align: center;
      font-size: 0.8rem;
    }
    .btn {
      min-width: 150px;
    }
  }

  .items-wrapper {
    background: $white-color;
    .item {
      margin: 0 auto;
      width: 90%;
      margin-bottom: 1rem;
      height: 200px;
      display: flex;
      flex-direction: row;
      border-bottom: 1px $light-violet-color solid;
      padding: 1rem;

      .item-image {
        border-right: 1px $light-violet-color dashed;
        width: 20%;
        overflow: hidden;
        min-width: 150px;
        img {
          height: 100%;
        }
      }
      .item-details {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .item-price {
          font-size: 1.5rem;
          font-weight: bold;
        }
        .btn {
          padding: 0.4rem 1.5rem;
          min-width: 200px;
          @include transition(all, 200ms, ease-out);
          &:hover {
            background: $white-color;
            border: 1px $green-color solid;
            color: $blue-color;
          }
        }
      }
    }
    #pagination {
      padding: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: $light-violet-color;

      a {
        display: inline-block;
        color: black;
        padding: 8px 16px;
        background: $white-color;
        margin-right: 0.5rem;
        border-radius: 0.1rem;
        @include transition(all, 200ms, ease-out);
        &:hover {
          background: $gray-color;
          color: $white-color;
        }
        &.active {
          background: $green-color;
          color: $white-color;
        }
      }
    }
  }
  #error-block {
    height: $section-height;
    padding: 4rem 0;
    .err-message {
      color: red;
      text-align: center;
    }
  }
}
