@import "partials/variables";
@import "partials/btn.scss";
@import "partials/header.scss";
@import "partials/intro.scss", "partials/categories.scss";
@import "partials/spin-item.scss";
@import "partials/footer.scss";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body{
  background: $white-color;
  font-family: Arial, Helvetica, sans-serif;
}


.centered{
  text-align:center;
}